
.titulo{
    color: red;
    text-align: center;
    border: 1px solid #000;
    font-size: 40px;
}

.list_movies{
    list-style-type: none;
    text-align: center;
    font-size: 25px;
}

ul li a{
    text-decoration: none;
    color: black;
}

.list{
    display: flex;
    margin: auto;
    justify-content:center;
    align-items: center;
    border: 1px solid #000;
    width: 100%; 
}

