<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Películas</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <main class="listar_peliculas">
        <h1 class="titulo">LISTADO DE PELÍCULAS</h1>
        <% if (locals.isLogged) { %>
            </div>
                <a style="text-decoration:none; font-size: 20px" href="/users/profile" id="dropUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Hola: <%= locals.userLogged%> 
                </a>
            </div>
            <div>
                <a href="/users/logout"><button class="btn_home">Logout</button></a>
            </div>
        <%}else{%>
            <div>
                <a href="/users/login"><button class="btn_home">Login</button></a>
                <a href="/users/register"><button class="btn_home">Register</button> </a>
            </div>
        <%}%>

        <div class="opc_home">
            <% if(locals.userRol==1){ %>
            <a href="/movies/add"><button class="btn_home_admin">Agregar Pelicula</button></a>
            <%}%>
        </div>
        <div class="list">
            <ul class="list_movies">
                <% for( let i = 0; i < movies.length; i++ ) { %>
                <li>
                    <a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %></a>
                </li>
                <% } %>
            </ul>
        </div>

    </main>
</body>

</html>